body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
  }
  h1 {
    color: #2E86C1;
  }
  b {
    color: black;
    font: italic;
  }
  h2 {
    color: red;
    font-style: italic;
  }
  h3 {
        font-size: xx-large;
  }
  p {
        font-size: 16px;
  }